<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/fa3033ab-282f-4d17-9a26-7f757240cade/resourcegroups/rg-CoreDemos/providers/Microsoft.Web/sites/lilAzureCoreDemoApp</ResourceId>
    <ContainerResourceId>/subscriptions/fa3033ab-282f-4d17-9a26-7f757240cade/resourcegroups/rg-CoreDemos/providers/Microsoft.ContainerRegistry/registries/lilRegistryPlan</ContainerResourceId>
    <ContainerResourceName>lilRegistryPlan</ContainerResourceName>
    <ResourceGroup>rg-CoreDemos</ResourceGroup>
    <Subscription>LinkedIn Demo Sub</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://lilregistryplan.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://lilazurecoredemoapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9624f496-a04e-4e3c-8c02-6a94e2f89a53</ProjectGuid>
  </PropertyGroup>
</Project>